<div class="add-g">
  <div class="container">
    <h1 class="form-title">Registration</h1>
    <form action="#" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="main-user-info">
        <div class="user-input-box">
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" name="fullName" formControlName="fullName" placeholder="Enter Full Name" />
          <div class="errorContainer">
            <span style="color: #470000; font-size: 10px;" *ngIf="fullName && fullName.invalid && fullName.touched ">This
              input field is not valid</span>
          </div>
        </div>
        <div class="user-input-box">
          <label for="username">Username</label>
        
          <input type="text" id="username" formControlName="UserName" name="UserName" placeholder="Enter Username" />

           <div class="errorContainer">
            <span style="color:#470000; font-size: 10px;" *ngIf="UserName && UserName.invalid && UserName.touched ">This
              input field is not valid</span>
          </div>
        </div>
        <div class="user-input-box">
          <label for="email">Email</label>
          
          <input type="email" id="email" formControlName="Email" name="Email" placeholder="Enter Email" />
          
          <div class="errorContainer">
            <span style="color: #470000; font-size: 10px;" *ngIf="Email && Email.invalid && Email.touched ">This
              input field is not valid</span>
          </div>
        </div>
        <div class="user-input-box">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" formControlName="phoneNumber" name="phoneNumber"
            placeholder="Enter Phone Number" />
            <div class="errorContainer">
              <span style="color: #470000; font-size: 10px;" *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched ">This
                input field is not valid</span>
            </div>
        </div>
        <div class="user-input-box">
          <label for="passWord">Password</label>
          <input type="password" id="password" formControlName="passWord" name="password"
            placeholder="Enter Password" />
            <div class="errorContainer">
              <span style="color: #470000; font-size: 10px;" *ngIf="passWord && passWord.invalid && passWord.touched ">This
                input field is not valid</span>
            </div>
        </div>
        <div class="user-input-box">
          <label for="confirmPasssword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
            formControlName="confirmPassword" />
            <div class="errorContainer">
              <span style="color: #470000; font-size: 10px;" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched ">This
                input field is not valid</span>
            </div>
        </div>
      </div>
      <div class="gender-details-box">
        <span class="gender-title">Gender</span>
        <div class="gender-category">
          <input type="radio" name="gender" id="male" value="1" formControlName="gender">
          <label for="male">Male</label>
          <input type="radio" name="gender" id="female" value="2" formControlName="gender">
          <label for="female">Female</label>
          <input type="radio" name="gender" id="other" value="3" formControlName="gender">
          <label for="other">Other</label>
        </div>
      </div>
      <div class="form-submit-btn">
        <button type="submit" value="Register" [disabled]="myForm.invalid" [ngClass]="{'disableSubmit': myForm.invalid,'enableSubmit': myForm.valid}"> Submit </button>
      </div>
    </form>
  </div>
</div>